version: '3.3'

networks:
  net-proxy:
    external:
      name: net-proxy

volumes:
  traefik:
  portainer:

services:
  traefik:
    image: traefik:1.4.6
    restart: always
    networks:
      net-proxy:
    ports:
      - "80:80"
      - "443:443"
    labels:
      traefik.enable: "false"
      traefik.backend: traefik
      traefik.port: "8080"
      traefik.frontend.rule: "Host:traefik.{{ itqn_public_domain }}"
      traefik.docker.network: "net-proxy"
      traefik.frontend.entryPoints: "http"
      traefik.frontent.passHostHeader: "true"
      traefik.backend.loadbalancer.stickiness: "true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik:/etc/traefik
#    command: ["--debug","--configfile=/etc/traefik/traefik.toml"]
    command: >-
      --debug --web
      --docker.domain=docker.localhost
      --docker
      --docker.watch
      --docker.exposedbydefault=false
      --web.metrics
      --web.metrics.prometheus
      --defaultentrypoints="http,https"
      --acme.email="{{ acme.mail |default('admin@example.com') }}"
      --acme
      --acme.entrypoint=https
      --acme.ondemand=false
      --acme.onhostrule
      --acme.storage="/etc/traefik/acme.json"
      --entrypoints="Name:https Address::443 TLS"
      --entrypoints="Name:http Address::80 Redirect.EntryPoint:https"
      --acme.caserver="{{ acme.ca_server | default('https://acme-staging.api.letsencrypt.org/directory') }}"
#      --acme.caserver="https://acme.api.letsencrypt.org/directory"

  portainer:
    image: portainer/portainer:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer:/data
    networks:
      net-proxy:
    labels:
      traefik.enable: "false"
      traefik.docker.network: "net-proxy"
      traefik.backend: "portainer"
      traefik.port: "9000"
      traefik.frontend.rule: "Host:portainer.{{ itqn_public_domain }}"
      traefik.frontend.entryPoints: "https"
      traefik.frontend.passHostHeader: "true"
      traefik.backend.loadbalancer.stickiness: "true"
