version: '3.3'

volumes:
  html:
  database:

networks:
  net-proxy:
    external:
      name: net-proxy
  backend:

services:
  service:
    image: wordpress:4.9.1-apache
    restart: always
    networks:
      backend:
      net-proxy:
    labels:
      traefik.enable: "true"
      traefik.docker.network: "net-proxy"
      traefik.tags: "public"
      traefik.backend: "wordpress"
      traefik.frontend.passHostHeader: "true"
      traefik.backend.loadbalancer.sticky: "true"
      traefik.port: "80"
      traefik.frontend.rule: "Host:{{ itqn_public_domain }},www.{{ itqn_public_domain }}"
      traefik.frontend.entryPoints: "http,https"

    volumes:
      - html:/var/www/html
    environment:
      - WORDPRESS_DB_HOST=mariadb
      - WORDPRESS_DB_USER={{ wordpress.mysql_user }}
      - WORDPRESS_DB_PASSWORD={{ wordpress.mysql_password }}
      - WORDPRESS_DB_NAME={{ wordpress.mysql_database }}
#      - WORDPRESS_TABLE_PREFIX=... (defaults to "", only set this when you need to override the default table prefix in wp-config.php)
#      - WORDPRESS_AUTH_KEY=...,
#      - WORDPRESS_SECURE_AUTH_KEY=...,
#      - WORDPRESS_LOGGED_IN_KEY=...,
#      - WORDPRESS_NONCE_KEY=...,
#      - WORDPRESS_AUTH_SALT=...,
#      - WORDPRESS_SECURE_AUTH_SALT=...,
#      - WORDPRESS_LOGGED_IN_SALT=...,
#      - WORDPRESS_NONCE_SALT=... (default to unique random SHA1s)

  mariadb:
    image: mariadb:latest
    restart: always
    networks:
      backend:
    volumes:
      - database:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ wordpress.mysql_root_password }}
      - MYSQL_USER={{ wordpress.mysql_user }}
      - MYSQL_PASSWORD={{ wordpress.mysql_password }}
      - MYSQL_DATABASE={{ wordpress.mysql_database }}
