version: '3.3'

networks:
  backend:
    external:
      name: nextcloud_backend
  net-proxy:
    external:
      name: net-proxy

services:
  collabora:
    image: collabora/code
    restart: on-failure:5
    networks:
      backend:
      net-proxy:
    environment:
      domain: "cloud.{{ itqn_public_domain }}"
      username: "{{ nextcloudconfig.collabora_user }}"
      password: "{{ nextcloudconfig.collabora_password }}"
      DONT_GEN_SSL_CERT: "true"
    volumes:
      - ./loolwsd:/etc/loolwsd
    cap_add:
      - MKNOD
#    ports:
#      - "9980:9980"
    labels:
      traefik.enable: "true"
      traefik.backend: "collab"
      traefik.port: "9980"
      traefik.frontend.rule: "Host:office.{{ itqn_public_domain }}"
      traefik.docker.network: "net-proxy"
      traefik.frontend.entryPoints: "http,https"
      traefik.frontent.passHostHeader: "true"
      traefik.backend.loadbalancer.stickiness: "true"
#      traefik.protocol: "ws"
