version: '2'

networks:
  backend:
  net-proxy:
    external:
      name: net-proxy

volumes:
#  html:
  data:
#  apps:
  database:
  config:

services:
  nextcloud:
    image: nextcloud:12.0.5-apache
#    restart: on-failure:5
    restart: always
    networks:
      - backend
      - net-proxy
    volumes:
#      - html:/var/www/html
      - data:/var/www/html/data
#      - apps:/var/www/html/custom_apps
#      - ./config:/var/www/html/config
      - config:/var/www/html/config
    labels:
      traefik.enable: "true"
      traefik.tags: "public"
      traefik.backend: "nextcloud"
      traefik.port: "80"
      traefik.frontend.rule: "Host:cloud.{{ itqn_public_domain }}"
      traefik.docker.network: "net-proxy"
      traefik.frontend.entryPoints: "http,https"
      traefik.frontent.passHostHeader: "true"
      traefik.backend.loadbalancer.stickiness: "true"

  mariadb:
    image: mariadb:latest
    restart: always
    networks:
      - backend
    volumes:
      - database:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ nextcloudconfig.mysql_root_password }}
