version: '3.3'

networks:
  backend:
    external:
      name: nextcloud_backend
  net-proxy:
    external:
      name: net-proxy

volumes:
  solr:

services:
  solr:
    image: solr:6.6.0-alpine
#    image: solr:latest
    restart: on-failure:5
    volumes:
      - solr:/opt/solr/server/solr
    networks:
      - backend
      - net-proxy
    labels:
      traefik.enable: "false"
      traefik.backend: "solr"
      traefik.port: "8983"
      traefik.frontend.rule: "Host:solr.{{ itqn_vpn_domain | default('local') }}"
      traefik.docker.network: "net-proxy"
      traefik.frontend.entryPoints: "http,https"
      traefik.frontent.passHostHeader: "true"
      traefik.backend.loadbalancer.stickiness: "true"

#docker-compose -f solr.yml exec solr cp -rf /opt/solr/server/solr/configsets/basic_configs /opt/solr/server/solr/nextant
#
#docker-compose -f solr.yml exec solr solr create -c nextant
# or open solr.vpn and add a new core named nextant
#
#docker-compose exec --user www-data nextcloud ./occ nextant:index
